<h1 class="title">Welcome, <%= @company.name %> </h1>


<div class="container col-lg-6 col-xl-6 col-lg-offset-3 col-xl-offset-3" id="profilebody">
	
	<div id="avatar"> <%= image_tag @company.avatar.url(:medium) %> </div>

	
	<div>
		<a href="/company/<%= @company.id %>/jobs/new">
		  <div class="button-fill grey">
		    <div class="button-text">Post A Job</div>
		    <div class="button-inside">
		      <div class="inside-text">Post A Job</div>
		    </div>
		  </div>
		 </a>
		<a href="/company/<%= @company.id %>/jobs">
		  <div class="button-fill orange">
		    <div class="button-text">Current Jobs</div>
		    <div class="button-inside">
		      <div class="inside-text">Current Jobs</div>
		    </div>
		  </div>
		</a>
	</div>

</div>