<h1 class="title">Welcome, <%= @company.name %> </h1>


<div class="container col-lg-6 col-xl-6 col-lg-offset-3 col-xl-offset-3" id="profilebody">
	
	<div id="avatar"> <%= image_tag @company.avatar.url(:medium) %> </div>

	<li><%= link_to "Edit", edit_company_path%></li>
	<li><a href="/company/<%= @company.id %>/jobs/new">Create Job Post</a></li>

</div>