// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//SIGNUP AND LOGIN CSS IS IN STUDENT CSS FILE

.editform {
	background-color: transparent;
}

#profilebody {
	text-align: center;
	margin-top: 40px;
}

#avatar {
	border-radius: 40px;
}

